@import url('https://fonts.googleapis.com/css?family=Vesper+Libre:700');


html,
body {
    font-family: 'Vesper Libre', serif;
    background-color: #FFFCF2;
    color: #595F72;
    overflow-x: hidden;


}

/********************************************Header*/

.navbar {
    background-color: #898989;

}



.navbar-links {
    padding-top: 150px;
}



.navbar-links a {
    text-decoration: none;
    color: #E3E3E3;
    font-size: 20px;
    text-transform: uppercase;

}

.navbar-links a:hover {
    color: #595F72;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.sitename-holder {
    text-align: center;
}


#sitename {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 12px;
    font-weight: bold;
}

/*sitename is visible only on screens too small to include the site logo*/


/********************************************Buttons*/

.btn-primary {
    background-color: #5DA271;
    border-color: #5DA271;
    color: #E3E3E3;

}

.btn-primary:active,
.btn-primary:focus {
    background-color: #5DA271;
    border-color: #5DA271;
    color: #E3E3E3;

}

.btn-primary:hover {
    background-color: #595F72;
    border-color: #595F72;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}

.booking-btn {
    margin: 25px auto;
}


.play-btn {
    margin-top: 10px;
    margin-bottom: 50px;
    width: 100px;
    font-size: 20px;
}

.contact-btn-wrapper {
    padding-top: 10px;
    text-align: center;

}

/********************************************Index Main Section*/

.main-section {
    text-align: center;
    min-height: calc(100vh - 263px);
    padding: 0;
    /*to force the footer to the bottom, vh minus the height of the header and footer*/
}

.photos-container {
    height: 317px;
    position: relative;
    max-width: 300px;
    margin: 0 auto;

}

.s-img {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;

}

.slideshow-img-1 {
    animation: slideshow-step-1 50s ease-out infinite normal;
    -webkit-animation: slideshow-step-1 50s ease-out infinite normal;
    -moz-animation: slideshow-step-1 50s ease-out infinite normal;
    -o-animation: slideshow-step-1 50s ease-out infinite normal;

}

.slideshow-img-2 {
    animation: slideshow-step-2 50s ease-out infinite normal;
    -webkit-animation: slideshow-step-2 50s ease-out infinite normal;
    -moz-animation: slideshow-step-2 50s ease-out infinite normal;
    -o-animation: slideshow-step-2 50s ease-out infinite normal;
}

.slideshow-img-3 {
    animation: slideshow-step-3 50s ease-out infinite normal;
    -webkit-animation: slideshow-step-3 50s ease-out infinite normal;
    -moz-animation: slideshow-step-3 50s ease-out infinite normal;
    -o-animation: slideshow-step-3 50s ease-out infinite normal;
}

.slideshow-img-4 {
    animation: slideshow-step-4 50s ease-out infinite normal;
    -webkit-animation: slideshow-step-4 50s ease-out infinite normal;
    -moz-animation: slideshow-step-4 50s ease-out infinite normal;
    -o-animation: slideshow-step-4 50s ease-out infinite normal;
}

.slideshow-img-5 {
    animation: slideshow-step-5 50s ease-out infinite normal;
    -webkit-animation: slideshow-step-5 50s ease-out infinite normal;
    -moz-animation: slideshow-step-5 50s ease-out infinite normal;
    -o-animation: slideshow-step-5 50s ease-out infinite normal;
}

.slideshow-img-6 {
    animation: slideshow-step-6 50s ease-out infinite normal;
    -webkit-animation: slideshow-step-6 50s ease-out infinite normal;
    -moz-animation: slideshow-step-6 50s ease-out infinite normal;
    -o-animation: slideshow-step-6 50s ease-out infinite normal;
}

.slideshow-img-7 {
    animation: slideshow-step-7 50s ease-out infinite normal;
    -webkit-animation: slideshow-step-7 50s ease-out infinite normal;
    -moz-animation: slideshow-step-7 50s ease-out infinite normal;
    -o-animation: slideshow-step-7 50s ease-out infinite normal;
}

.slideshow-img-8 {
    animation: slideshow-step-8 50s ease-out infinite normal;
    -webkit-animation: slideshow-step-8 50s ease-out infinite normal;
    -moz-animation: slideshow-step-8 50s ease-out infinite normal;
    -o-animation: slideshow-step-8 50s ease-out infinite normal;
}

.slideshow-img-9 {
    animation: slideshow-step-9 50s ease-out infinite normal;
    -webkit-animation: slideshow-step-9 50s ease-out infinite normal;
    -moz-animation: slideshow-step-9 50s ease-out infinite normal;
    -o-animation: slideshow-step-9 50s ease-out infinite normal;
}

.slideshow-img-10 {
    animation: slideshow-step-10 50s ease-out infinite normal;
    -webkit-animation: slideshow-step-10 50s ease-out infinite normal;
    -moz-animation: slideshow-step-10 50s ease-out infinite normal;
    -o-animation: slideshow-step-10 50s ease-out infinite normal;
}

.home-social-links {
    margin: 20px;
    font-size: 35px;
    color: #5DA271;
}

.home-social-links i {

    text-decoration: none;
}


.home-social-links:hover {
    color: #595F72;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
}


.performance-dates {
    border: solid;
    border-color: #595F72;
    border-width: 5px;
    border-radius: 15px;
}

/********************************************About Main Section*/

.band-container {
    max-width: 80%;
    min-height: calc(100vh - 263px);
    /*to force the footer to the bottom, vh minus the height of the header and footer*/
}

.band-pic {
    float: right;
    border-radius: 25%;
    margin: 10px;

}

.band-member {
    border: solid;
    border-color: #595F72;
    border-radius: 15px;
    border-width: 5px;
    min-height: 170px;
    margin-bottom: 10px;
    margin-right: 10px;

}



/********************************************Music Main Section*/

.music-page {
    min-height: calc(100vh - 263px);
    text-align: center;
}

.music-titles {
    margin: 25px auto;
}


.music-selection i {
    font-size: 25px;
    padding-right: 20px;
}

.music-selection {
    font-size: 25px;
}

.music-video {
    max-width: 100%;
    max-height: 100%;
}


.music-selection-dropdown {
    width: 200px;
    font-size: 20px;
}



/********************************************Contact Main Section*/

.contact-container {
    min-height: calc(100vh - 263px);
    /*to force the footer to the bottom, vh minus the height of the header and footer*/
}

.contact-form {
    margin: 0 auto;
    max-width: 40%;
    padding-bottom: 50px;
}



#contact-heading {
    text-align: center;
    margin-top: 50px;
    font-weight: bold;
    font-size: 40px;
}

#contact-text {
    text-align: center;
    font-size: 25px;
}



/********************************************Footer*/

.footerbar {
    background-color: #898989;
    text-align: center;
    font-size: 15px;
    color: #E3E3E3;
    padding-top: 5px;

}

.footer-links {
    font-size: 25px;
    padding: 10px;

}

.footer-links i {
    color: #E3E3E3;
    text-decoration: none;
}

.footer-links i:hover {
    color: #595F72;
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;

}

/********************************************Keyframes*/

@keyframes slideshow-step-1 {
    0% {
        opacity: 1;

    }

    10% {
        opacity: 0;
    }
    90% {
        opacity: 0;

    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slideshow-step-1 {
    0% {
        opacity: 1;

    }

    10% {
        opacity: 0;
    }
    90% {
        opacity: 0;

    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes slideshow-step-1 {
    0% {
        opacity: 1;

    }

    10% {
        opacity: 0;
    }
    90% {
        opacity: 0;

    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes slideshow-step-1 {
    0% {
        opacity: 1;

    }

    10% {
        opacity: 0;
    }
    90% {
        opacity: 0;

    }
    100% {
        opacity: 1;
    }
}


@keyframes slideshow-step-2 {

    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }

}

@-webkit-keyframes slideshow-step-2 {

    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }

}

@-moz-keyframes slideshow-step-2 {

    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }

}

@-o-keyframes slideshow-step-2 {

    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }

}

@keyframes slideshow-step-3 {

    10% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}

@-webkit-keyframes slideshow-step-3 {

    10% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}

@-moz-keyframes slideshow-step-3 {

    10% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}

@-o-keyframes slideshow-step-3 {

    10% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}

@keyframes slideshow-step-4 {

    20% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
}

@-webkit-keyframes slideshow-step-4 {

    20% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
}

@-moz-keyframes slideshow-step-4 {

    20% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
}

@-o-keyframes slideshow-step-4 {

    20% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
}

@keyframes slideshow-step-5 {

    30% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@-webkit-keyframes slideshow-step-5 {

    30% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@-moz-keyframes slideshow-step-5 {

    30% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@-o-keyframes slideshow-step-5 {

    30% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}


@keyframes slideshow-step-6 {

    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
}

@-webkit-keyframes slideshow-step-6 {

    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
}

@-moz-keyframes slideshow-step-6 {

    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
}

@-o-keyframes slideshow-step-6 {

    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
}


@keyframes slideshow-step-7 {

    50% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
}

@-webkit-keyframes slideshow-step-7 {

    50% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
}

@-moz-keyframes slideshow-step-7 {

    50% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
}

@-o-keyframes slideshow-step-7 {

    50% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
}


@keyframes slideshow-step-8 {

    60% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
}

@-webkit-keyframes slideshow-step-8 {

    60% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
}

@-moz-keyframes slideshow-step-8 {

    60% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
}

@-o-keyframes slideshow-step-8 {

    60% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
}

@keyframes slideshow-step-9 {

    70% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
}

@-webkit-keyframes slideshow-step-9 {

    70% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
}

@-moz-keyframes slideshow-step-9 {

    70% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
}

@-o-keyframes slideshow-step-9 {

    70% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
}

@keyframes slideshow-step-10 {

    80% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

@-webkit-keyframes slideshow-step-10 {

    80% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}


@-moz-keyframes slideshow-step-10 {

    80% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}


@-o-keyframes slideshow-step-10 {

    80% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}


/********************************************Media Queries*/

@media (max-width: 768px) {

    .navbar {
        text-align: center;
    }


    .footer-links {
        font-size: 25px;
        padding: 2px;
    }

    .music-video {
        margin-left: 0;
    }

    .music-video video {
        height: auto;
        width: 100%;
    }
    .contact-form {
        max-width: 80%;
    }



}

@media (max-width: 767px) {
    .navbar-links {
        padding-top: 0px;
    }

    .main-section,
    .band-container,
    .contact-container,
    .music-page {
        min-height: calc(100vh - 98px);
    }
    /*to force the footer to the bottom, vh minus the height of the header and footer*/
    .footerbar {
        text-align: left;

    }

}



@media (min-width: 1540px) {
    .band-container {
        max-width: 60%;
        padding: 0;
    }
}
